<div style="font-size: 18px" id="page-contents">
  <div class="row">
    <div class="col-md-3 static">
      <div class="profile-card">
        <img src="{{userDetail?.avatar}}" alt="user" class="profile-photo"/>
        <h2 class="a1" ngbtooltip="Thông tin cá nhân" routerLink="/user/user-detail"><a
          class="text-white">{{userDetail?.username}}</a></h2>
        <a class="text-white"><i class="ion ion-android-person-add"></i> {{listFriend?.length}} friends</a>
      </div>
      <ul class="nav-news-feed">
        <li><i style="color: slateblue" class='fas fa-bell'></i>
          <div><a class="a1" routerLink="/user/user-detail">Trang cá nhân</a></div>
        </li>
        <li><i class="icon ion-ios-paper"></i>
          <div><a class="a1" routerLink="/user/newsfeed/detail">Tin của tôi</a></div>
        </li>
        <li><i class="icon ion-ios-people"></i>
          <div><a class="a1" routerLink="/user/newsfeed/requests">Lời mời kết bạn</a></div>
        </li>
        <li><i class="icon ion-ios-people-outline"></i>
          <div><a class="a1" routerLink="/user/newsfeed/friends">Bạn bè</a></div>
        </li>
        <li><i class="icon ion-ios-people"></i>
          <div><a class="a1" routerLink="/user/newsfeed/people-nearby">Gợi ý kết bạn</a></div>
        </li>
        <li><i class="icon ion-chatboxes"></i>
          <div><a class="a1" routerLink="/user/newsfeed/friends">Tin nhắn</a></div>
        </li>
        <li><i class="icon ion-images"></i>
          <div><a class="a1" routerLink="/user/newsfeed/friends">Ảnh của bạn</a></div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="create-post">
        <form [formGroup]="newPost"
              (ngSubmit)="createPost(userDetail?.id)">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="form-group">
                <img src="{{userDetail.avatar}}" alt="" class="profile-photo-md a1"/>
                <textarea name="texts" id="exampleTextarea" cols="50" rows="1" class=""
                          onfocus="this.value=''" formControlName="content"
                          placeholder="Bạn đang nghĩ gì thế?"></textarea>
              </div>
              <span style="margin-left: 60px; font-size: 15px">Tối đa 1000 kí tự.</span>
            </div>
            <div class="col-md-5 col-sm-5">
              <div class="tools">
                <ul class="publishing-tools list-inline">
                  <li><a class="a1" style="font-size: 25px"><i class="ion-compose"></i></a></li>
                  <li><a class="a1" style="font-size: 25px"><i class="ion-images"></i></a></li>
                  <li><a class="a1" style="font-size: 25px"><i class="ion-ios-videocam"></i></a></li>
                  <li><a class="a1" style="font-size: 25px"><i class="ion-map"></i></a></li>
                </ul>
                <button style="width: 130px" class="btn btn-primary pull-right">Đăng</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!--List post-->
      <div style="border: 1px violet !important; margin-bottom: 30px; font-size: 18px"
           class="post-content" *ngFor=" let p of post">
        <div class="post-container">
          <img src="{{p?.user?.avatar}}" alt="user" class="profile-photo-md pull-left"/>
          <div class="post-detail">
            <div class="user-info">
              <h2><a class="profile-link a1">{{p?.user?.username}}</a>
              </h2>
              <p style="font-size: 15px" class="text-muted">{{p.createAt | date:"dd/MM/yyyy"}}</p>
            </div>
            <div class="reaction">
              <span class="material-icons a1">more_horiz</span>
            </div>
            <div class="line-divider"></div>
            <div class="post-text">
              <p style="font-size: 20px">{{p.content}}</p>
            </div>
            <div>
              <img style="width: 100%;" src="{{p.image}}">
            </div>
            <div class="line-divider"></div>
            <div>
              <span style="color:#1a71c5" (click)="createLike(p?.id)" class="material-icons a1">thumb_up</span>
              <sub>{{p.numberLike}}</sub>
              <span style="color: #f511b4; margin-bottom: 10px; font-size: 25px"
                    (click)="createHeart(p?.id)" class="material-icons a1">favorite</span>
              <sub>{{p.iconHeart}}</sub>
              <span style="color: #d20845" (click)="createDisLike(p?.id)" class="material-icons a1">thumb_down</span>
              <sub>{{p.numberDisLike}}</sub>
              <span style="font-size: 25px; color: rebeccapurple" class="material-icons a1">zoom_in</span>
            </div>
            <h3>Tất cả bình luận: </h3>
            <div *ngFor=" let c of comment">
              <div *ngIf="c?.post?.id === p.id">
                <div class="row">
                  <div class="col-1">
                    <img src="{{c?.user?.avatar}}"
                         class="profile-photo-sm"/>
                  </div>
                  <div class="col-8">
                    <span style="margin-top: 9px; font-size: 16px">
                      <a class="profile-link a1">{{c?.user?.username}}: </a> {{c.content}}  </span>
                    <div style=" padding: 0px">

                      <span (click)="createLikeComment(c.id)"
                            style="margin-top: 5px; margin-left: 5px; color:#1a71c5; font-size: 18px"
                            class="material-icons a1">thumb_up</span>
                      <sub>{{c.numberLike}}</sub>

                      <span (click)="createDisLikeComment(c.id)"
                            style="margin-top: 5px; margin-left: 5px;color: #d20845; font-size: 18px"
                            class="material-icons a1">thumb_down</span>
                      <sub>{{c.numberDisLike}}</sub>

                      <span
                        style="margin-top: 5px; margin-left: 5px;font-size: 18px; color: yellowgreen"
                        class="material-icons a1">question_answer
                      </span><br>
                      <div class="" id="answerCommentsForm">
                        <form [formGroup]="answerCommentsForm"
                              (ngSubmit)="createAnswerComment(c.id)">
                          <div class="row">
                            <div class="col-1">
                              <img src="{{userDetail.avatar}}" alt=""
                                   class="profile-photo-sm"/>
                            </div>
                            <div class="col-8">
                              <input style=" height: 40px; font-size: 18px" onfocus="this.value=''" type="text"
                                     class="form-control c1" formControlName="content"
                                     placeholder="Bình luận">
                            </div>
                            <div class="col-3">
                              <button style="text-align: center; width: 130px; margin-left: 35px; margin-top: 3px"
                                      type="submit"
                                      class="btn btn-primary btn-block mb-4 c2">Gửi
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div *ngFor="let an of answerComments">
                        <div class="row">
                          <div class="col-1">
                            <span *ngIf="an?.comment?.id === c.id"
                                  style=" font-size: 15px !important;">
                      <img style="margin-left: 9px; width: 20px; height: 20px " src="{{an?.user?.avatar}}"
                           class="profile-photo-sm"/>
                            </span>
                          </div>
                          <div class="col-10">
                           <span *ngIf="an?.comment?.id === c.id"
                                 style=" font-size: 16px">
                             <a class="profile-link a1">{{an?.user?.username}}: </a> {{an.content}}</span>
                          </div>
                          <div *ngIf="an?.comment?.id === c.id" class="col-1">
                            <span style=" font-size: 15px !important;">
                        {{c.createAt | date:"hh:mm|dd/MM"}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <span style=" font-size: 15px !important;">
                        {{c.createAt | date:"hh:mm | dd/MM/yyyy" }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <form [formGroup]="commentCreate"
                    (ngSubmit)="createComment(p?.id)">
                <div class="row">
                  <div class="col-1">
                    <img src="{{userDetail.avatar}}" alt=""
                         class="profile-photo-sm"/>
                  </div>
                  <div class="col-8">
                    <input style=" height: 40px; font-size: 18px" onfocus="this.value=''" type="text"
                           class="form-control c1" formControlName="content"
                           placeholder="Bình luận">
                    <span style="font-size: 15px">Tối đa 500 kí tự.</span>
                  </div>
                  <div class="col-3">
                    <button style="text-align: center; width: 130px; margin-top: 3px" type="submit"
                            class="btn btn-primary btn-block mb-4 c2">Gửi
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--List post-->
    </div>
    <div style="margin-left: 50px" class="col-md-2 static">
      <div class="suggestions" id="sticky-sidebar">
        <h3 class="grey">Những người bạn có thể biết</h3>
        <div class="follow-user" *ngFor=" let user of users">
          <div>
            <img
              src="{{user.avatar}}"
              alt="" class="profile-photo-sm pull-left a1"/>
            <div>
              <h3><a>{{user.username}}</a></h3>
              <a style="font-size: 15px" class="text-green a1">Xem chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

