<!--<div style="margin-left: 50px" class="col-md-2 static">-->
<!--  <div class="suggestions" id="sticky-sidebar">-->
<!--    <h3 class="grey">Danh sách bạn bè</h3>-->
<!--    <div class="follow-user" *ngFor=" let friend of listFriend">-->
<!--      <img-->
<!--        src="{{friend?.username}}"-->
<!--        alt="" class="profile-photo-sm pull-left a1"/>-->
<!--      <div>-->
<!--        <h3><a>{{friend?.username}}</a></h3>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
