<!-- Landing Page Contents
================================================= -->
<div id="lp-register">
  <div class="container wrapper">
    <div class="row">
      <div class="col-sm-5">
        <div class="intro-texts">
          <h1 class="text-white">Kết bạn tuyệt vời !!!</h1>
          <p><span style="font-size: 2em">Đừng bỏ lỡ những gì đang xảy ra</span>
            <br/> <br/>Những người trên Trình tìm bạn là những người đầu tiên biết.</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="reg-form-container">

          <!-- Register/Login Tabs-->
          <div class="reg-options">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#register" data-toggle="tab">Đăng ký</a></li>
              <li><a id="showLogin" href="#login" data-toggle="tab">Đăng nhập</a></li>
            </ul><!--Tabs End-->
          </div>
          <!--Registration Form Contents-->
          <div class="tab-content">
            <div class="tab-pane active" id="register">
              <h3>Đăng ký ngay !!!</h3>
              <p class="text-muted">Hãy mát mẻ và tham gia ngay hôm nay. Gặp gỡ hàng triệu</p>

              <!--Register Form-->
              <form [formGroup]="registerForm" (ngSubmit)="register()" name="registration_form" id='registration_form'
                    class="form-inline">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="username" class="sr-only">Tên đăng nhập</label>
                    <input formControlName="newUserName" id="username" class="form-control input-group-lg" type="text"
                           name="username" title="Enter Username" placeholder="Your Username"/>
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="registerForm.controls['newUserName'].errors?.['required']
         && registerForm.controls['newUserName'].touched">Username is required!
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="password" class="sr-only">Mật khẩu</label>
                    <input formControlName="newPassWord" id="password" class="form-control input-group-lg"
                           type="password" name="password" title="Enter password"
                           placeholder="Password length must be between 6 to 32"/>
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newPassWord'].errors?.['required']
         && registerForm.controls['newPassWord'].touched">Password is required!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newPassWord'].errors?.['minlength']
         && registerForm.controls['newPassWord'].touched">Password length must be between 6 to 32!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newPassWord'].errors?.['maxlength']
         && registerForm.controls['newPassWord'].touched">Password length must be between 6 to 32!
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="rePassword" class="sr-only">Re-Password</label>
                    <input formControlName="newConfirmPassWord" id="rePassword" class="form-control input-group-lg"
                           type="password" name="rePassword" title="Enter password again"
                           placeholder="Confirm Your Password"/>
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newConfirmPassWord'].errors?.['required']
         && registerForm.controls['newConfirmPassWord'].touched">Password is required!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newConfirmPassWord'].errors?.['minlength']
         && registerForm.controls['newConfirmPassWord'].touched">Password length must be between 6 to 32!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newConfirmPassWord'].errors?.['maxlength']
         && registerForm.controls['newConfirmPassWord'].touched">Password length must be between 6 to 32!
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="email" class="sr-only">Email</label>
                    <input formControlName="newEmail" id="email" class="form-control input-group-lg" type="text"
                           name="Email" title="Enter Email" placeholder="Your Email exp : abc@gmail.com"/>
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newEmail'].errors?.['required']
         && registerForm.controls['newEmail'].touched">Email is required!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newEmail'].errors?.['email']
         && registerForm.controls['newEmail'].touched">Not a valid email!
                  </div>
                  <div class="form-group col-xs-12">
                    <label for="phone" class="sr-only">Số điện thoại</label>
                    <input formControlName="newPhoneNumber" id="phone" class="form-control input-group-lg" type="text"
                           name="phone" title="Enter Phone number" placeholder="Your Phone Number"/>
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newPhoneNumber'].errors?.['required']
         && registerForm.controls['newPhoneNumber'].touched">Phone number is required!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="registerForm.controls['newPhoneNumber'].errors?.['pattern']
         && registerForm.controls['newPhoneNumber'].touched">Không được để trống!
                  </div>
                </div>
                <p>Giới tính của bạn</p>
                <label for="age1">Nam</label><br>
                <input formControlName="gender" type="radio" id="age1" value="Nam">
                <label for="age2">Nữ</label><br>
                <input formControlName="gender" type="radio" id="age2" value="Nữ">
                <label for="age3">Không xác định</label><br>
                <input formControlName="gender" type="radio" id="age3" value="Không xác định">
                <p><a (click)="showLogin()">Bạn đã có tài khoản?</a></p>
                <button [disabled]="!registerForm.valid" class="btn btn-primary">Đăng ký ngay</button>
              </form><!--Register Now Form Ends-->
            </div><!--Registration Form Contents Ends-->

            <!--Login-->
            <div class="tab-pane" id="login">
              <h2 align="center">Đăng nhập</h2>
              <!--Login Form-->
              <form [formGroup]="loginForm" (ngSubmit)="login()" name="Login_form" id='Login_form'>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="my-username" class="sr-only">Tên đăng nhập</label>
                    <input formControlName="username" id="my-username" class="form-control input-group-lg" type="text"
                           name="Username" title="Enter username" placeholder="Your Username"/>
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="loginForm.controls['username'].errors?.['required']
         && loginForm.controls['username'].touched">Username is required!
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="my-password" class="sr-only">Mật khẩu</label>
                    <input formControlName="password" id="my-password" class="form-control input-group-lg"
                           type="password" name="password" title="Enter password" placeholder="Password"/>
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="loginForm.controls['password'].errors?.['required']
         && loginForm.controls['password'].touched">Password is required!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="loginForm.controls['password'].errors?.['minlength']
         && loginForm.controls['password'].touched">Password length must be between 6 to 32!
                  </div>
                  <div style="color: red;padding-left: 30px" role="alert"
                       *ngIf="loginForm.controls['password'].errors?.['maxlength']
         && loginForm.controls['password'].touched">Password length must be between 6 to 32!
                  </div>
                </div>
                <p><a href="#">Quên mật khẩu</a></p>
                <button class="btn btn-primary">Đăng nhập ngay</button>
              </form><!--Login Form Ends-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <!--Social Icons-->
        <ul class="list-inline social-icons">
          <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
          <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đăng nhập thành công. Vui lòng đợi ...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Chào mừng trở lại {{userName}}</b>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="error1">Sai tên đăng nhập hoặc mật khẩu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Vui lòng kiểm tra tên người dùng hoặc mật khẩu của bạn!</b>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="registerSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerSuccess1">Đăng ký thành công. Vui lòng đợi ...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Chào mừng bạn đến với Friend Finder {{userName}} !</b>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="registerFail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerFail1">Đăng kí thất bại!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Tài khoản đã tồn tại!</b>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


