
<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <div [ngStyle]="{'background': 'url(' + cover + ')'}" class="timeline-cover">

      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img src="{{avatar}}" alt="" class="img-responsive profile-photo"/>
              <h3>{{currentUser.username}}</h3>
              <p class="text-muted">Creative Director</p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li><a routerLink="/user/user-detail/timeline">Timeline</a></li>
              <li><a routerLink="/user/user-detail/timeline">About</a></li>
              <li><a href="">Album</a></li>
              <li><a routerLink="/user/user-detail/timeline-friends">Friends</a></li>
            </ul>
            <ul class="follow-me list-inline">

            </ul>
          </div>
        </div>
      </div><!--Timeline Menu for Large Screens End-->

      <!--Timeline Menu for Small Screens-->
      <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
          <img src="{{avatar}}" alt="" class="img-responsive profile-photo"/>
          <h4>Sarah Cruiz</h4>
          <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
          <ul class="list-inline">
            <li><a routerLink="/user/user-detail/timeline">Timeline</a></li>
            <li><a routerLink="/user/user-detail/timeline">About</a></li>
            <li><a href="">Album</a></li>
            <li><a href="">Friends</a></li>
          </ul>
        </div>
      </div><!--Timeline Menu for Small Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3">

          <!--Edit Profile Menu-->
          <ul class="edit-menu">
            <li><i class="icon ion-ios-information-outline"></i><a routerLink="/user/user-detail/timeline">Basic
              Information</a>
            </li>

            <li><i class="icon ion-ios-settings"></i><a href="">Account Settings</a></li>
            <li class="active"><i class="icon ion-ios-locked-outline"></i><a routerLink="/user/password">Change
              Password</a></li>
          </ul>
        </div>
        <div class="col-md-7">

          <!-- Change Password
             ================================================= -->
          <div class="edit-profile-container">
            <div class="block-title">
              <h4 class="grey"><i class="icon ion-ios-locked-outline"></i>Change Password</h4>
              <div class="line"></div>
              <p>Create a new password with 6-32 characters. A strong password is a password that is a combination of
                characters, numbers, and symbols.</p>
              <div class="line"></div>
            </div>
            <div class="edit-block">
              <form [formGroup]="updateForm" (ngSubmit)="update()" name="update-pass" id="education"
                    class="form-inline">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="my-password">Old password</label>
                    <input formControlName="password" id="my-password" class="form-control input-group-lg"
                           type="password" name="password" title="Enter password" placeholder="Old password"/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="updateForm.controls['password'].errors?.['required']
         && updateForm.controls['password'].touched">Password is required!
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <label>New password</label>
                    <input formControlName="newPassword" class="form-control input-group-lg" type="password"
                           name="password" title="Enter password" placeholder="New password"/>
                  </div>
                  <div class="form-group col-xs-6">
                    <label>Confirm password</label>
                    <input formControlName="confirmPassword" class="form-control input-group-lg" type="password"
                           name="password" title="Enter password" placeholder="Confirm password"/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="updateForm.controls['newPassword'].errors?.['required']
         && updateForm.controls['newPassword'].touched">New password is required!
                    </div>
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="updateForm.controls['newPassword'].errors?.['minlength']
         && updateForm.controls['newPassword'].touched">New password length must be between 6 to 32!
                    </div>
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="updateForm.controls['newPassword'].errors?.['maxlength']
         && updateForm.controls['newPassword'].touched">New password length must be between 6 to 32!
                    </div>
                  </div>
                  <div class="form-group col-xs-6">
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="updateForm.controls['confirmPassword'].errors?.['required']
         && updateForm.controls['confirmPassword'].touched">Confirm password is required!
                    </div>
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="updateForm.controls['confirmPassword'].errors?.['minlength']
         && updateForm.controls['confirmPassword'].touched">Confirm password length must be between 6 to 32!
                    </div>
                    <div style="color: red;padding-left: 30px" role="alert"
                         *ngIf="updateForm.controls['confirmPassword'].errors?.['maxlength']
         && updateForm.controls['confirmPassword'].touched">Confirm password length must be between 6 to 32!
                    </div>
                  </div>
                </div>
                <p><a href="#">Forgot Password?</a></p>
                <button class="btn btn-primary">Update Password</button>
              </form>
            </div>
          </div>

          <!--Sticky Timeline Activity Sidebar-->

        </div>
      </div>
    </div>
  </div>
</div>
