

        <!-- Nearby People List
        ================================================= -->
        <div class="people-nearby">
<!--          <div class="google-maps">-->
<!--            <div id="map" class="map"></div>-->
<!--          </div>-->
          <div *ngFor="let user of listUserNotFriend" class="nearby-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="{{user?.avatar}}" alt="user" class="profile-photo-lg"/>
              </div>
              <div class="col-md-7 col-sm-7">
                <h5><a routerLink="/user/people-detail/{{user.id}}" class="profile-link">{{user?.username}}</a></h5>
                <p>Software Engineer</p>
                <p class="text-muted">500m away</p>
              </div>
              <div class="col-md-3 col-sm-3">
                <button class="btn btn-primary pull-right" (click)="addFriend(user.id, user?.username)">Add Friend</button>
              </div>
            </div>
          </div>
        </div>

<!--modal-->
<div class="modal fade" id="requestSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="requestSuccess1">Successfully sent friend request.Please wait...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Please wait {{usernameFriend}} accept your request !</b>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
